<!DOCTYPE html>
<html>

<head>
    <title>Tasks by Priority</title>
</head>

<body>

    <h1>Tasks by Priority</h1>
    <ul>
        <form action="" method="get">
            <label for="page"><b>Go to Page:</b></label>
            <input type="number" id="page" name="page" value="<%= page %>">
            <button type="submit">Go</button>

            <label for="priority"><b>Search by Priority:</b></label>
            <select id="priority" name="priority">
                <option value="all">All</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
            <label for="is_completed"><b>Search by Completion:</b></label>
            <select id="is_completed" name="is_completed">
                <option value="all">All</option>
                <option value="0">Not Completed</option>
                <option value="1">Completed</option>
            </select>

            <label for="is_deleted"><b>Search by Deletion:</b></label>
            <select id="is_deleted" name="is_deleted">
                <option value="all">All</option>
                <option value="0">Not Deleted</option>
                <option value="1">Deleted</option>
            </select>
            <button type="submit">Search</button>
        </form>
        <table border="1">
            <tr>
                <th>index</th>
                <th>Name</th>
                <th>Description</th>
                <th>User ID</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Is Completed</th>
                <th>Is Deleted</th>
                <th>Action:</th>
            </tr>
            <% for (var i=0; i < tasks.length; i++) { %>
                <tr align="center">
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= tasks[i].name %>
                    </td>
                    <td>
                        <%= tasks[i].description %>
                    </td>
                    <td>
                        <%= tasks[i].user_id %>
                    </td>
                    <td>
                        <%= tasks[i].due_date.toLocaleDateString("en-GB", { weekday: 'short' , day: '2-digit' ,
                            month: '2-digit' , year: 'numeric' }) %>
                    </td>
                    <td>
                        <%= tasks[i].priority %>
                    </td>
                    <td>
                        <%= tasks[i].is_completed %>
                    </td>
                    <td>
                        <%= tasks[i].is_deleted %>
                    </td>
                    <td>
                        <a href="/task/edit-task/<%= tasks[i]._id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                <path
                                    d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                            </svg></a>
                    </td>
                </tr>

                <% } %>
        </table>
    </ul>

    <div>
        <p>Page: <%= page %>
        </p>
        <p>Limit: <%= limit %>
        </p>
    </div>
    <div>
        <% if (page> 1) { %>
            <a href="?page=<%= page - 1 %>&limit=<%= limit %>">Previous Page</a>
            <% } %>
                <% if (tasks.length===limit) { %>
                    <a href="?page=<%= page + 1 %>&limit=<%= limit %>">Next Page</a>
                    <% } %>
    </div>

    <script>
        const authToken = localStorage.getItem('authToken');
        console.log(authToken, "token");
        const tasksData = JSON.stringify(tasksArray);

        if (authToken) {
            try {
                const tokenParts = authToken.split('.');
                const payload = JSON.parse(atob(tokenParts[1]));
                const user_id_from_token = payload.user_id;

                console.log('Decoded user_id:', user_id_from_token);


                filteredTasks.forEach((task, index) => {
                    const newRow = tableBody.insertRow(index);
                    newRow.innerHTML = `
                        <td>${index + 1}</td>
                        <td>${task.name}</td>
                        <td>${task.description}</td>
                        <td>${task.user_id}</td>
                        <td>${new Date(task.due_date).toLocaleDateString("en-GB", {
                        weekday: 'short', day: '2-digit', month: '2-digit', year: 'numeric'
                    })}</td>
                        <td>${task.priority}</td>
                        <td>${task.is_completed}</td>
                        <td>${task.is_deleted}</td>
                        <td><a href="/task/edit-task/${task._id}">Edit</a></td>
                    `;
                });
            } catch (error) {
                console.error('Error decoding token:', error);
            }
        }
    </script>
</body>

</html>